<div style="background-color:#252b36;text-align:center;">
  <br>
  <br>
  <h2 style="color:#ffffff;">School Check</h2>
  <br>
</div>


<div style="background-color:#2c3946;text-align:center;">
  <br>
  <i class="material-icons md-48" style="color: #ffffff">face</i> &nbsp;
  <mat-form-field>
    <mat-select placeholder="Student Name" [(ngModel)]="StudentSelect">
      <mat-option *ngFor="let stu of students" [value]="stu.student_id">
        {{stu.student_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div style="background-color:#2c3946;text-align:center;">
  <i class="material-icons md-48" style="color: #2c3946">face</i> &nbsp;
  <mat-form-field>
    <mat-select placeholder="Class Room" [(ngModel)]="ClassroomSelect">
      <mat-option *ngFor="let clr of classrooms" [value]="clr.id">
        {{clr.classroom}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div style="background-color:#2c3946;text-align:center;">
  <i class="material-icons md-48" style="color: #2c3946">face</i> &nbsp;
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="วัน-เดือน-ปี" [(ngModel)]="datecome">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>



<div style="background-color:#2c3946;text-align:center;">
  <i class="material-icons md-48" style="color: #2c3946">face</i> &nbsp;
  <mat-form-field>
    <mat-select placeholder="Status Students" [(ngModel)]="StatusSelect">
      <mat-option *ngFor="let sta of status" [value]="sta.id">
        {{sta.ststusname}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div style="background-color:#2c3946;text-align:center;">
  <i class="material-icons md-48" style="color: #2c3946">face</i> &nbsp;
  <mat-form-field>
    <mat-select placeholder="Parent" [(ngModel)]="ParentSelect">
      <mat-option *ngFor="let pa of parent" [value]="pa.id">
        {{pa.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="grade-button-row" style="background-color:#2c3946;text-align:center;">
  <br>
  &nbsp;  &nbsp;  &nbsp;
  <button mat-raised-button (click)="save()">Save</button>
  &nbsp;
  <button mat-raised-button (click)="cancel()"  color="accent">Cancel</button>
  &nbsp;
  &nbsp;
  <br>
  <br>
</div>


<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<body>



<table class="table table-striped">

  <tr>
    <th class="hidden">No</th>
    <th>Student</th>
    <th>ClassRoom</th>
    <th>Status</th>
    <th>Day</th>
    <th>Parent</th>
  </tr>

  <tbody>
  <tr *ngFor="let SchoolCheck of No">
    <td class="hidden">{{SchoolCheck.id}}</td>

    <td>{{SchoolCheck.student.student_name}}</td>
    <td>{{SchoolCheck.classrooms.classroom}}</td>
    <td>{{SchoolCheck.status.ststusname}}</td>
    <td>{{SchoolCheck.datecome}}</td>
    <td>{{SchoolCheck.parents.name}}</td>
  </tr>
  </tbody>
</table>

</body>




<div style="background-color:#2c3946;text-align:center;">
  <br>
  <h5 style="color:#ffffff;">SUT - SE61 - TEAM13</h5>
  <br>
</div>
