<!--The content below is only a placeholder and can be replaced.-->

<div class="top">
  <div style="background-color:#ffc000;border-bottom-width: thin">


    <MARQUEE behavior='scroll' direction='Up' height='50' scrollamount='2' scrolldelay='100' width='100' onmouseover='this.stop()' onmouseout='this.start()'>

      
    </MARQUEE>
    &nbsp;
    <a class="navbar-brand" routerLink="./mainhome" routerLinkActive="active" style="color: black;text-decoration: none;font-size: 50px;width: 20px">หน้าหลัก </a>
    &nbsp;
    <a class="navbar-brand" routerLink="./grade"  style="color: black;text-decoration:none;font-size: 25px" >ประเมินผลการศึกษา</a> &nbsp; &nbsp;&nbsp;
    <a class="navbar-brand" routerLink="./nursroom"  style="color: black;text-decoration:none;font-size: 25px" >ห้องพยาบาล</a> &nbsp; &nbsp;&nbsp;
    <a class="navbar-brand" routerLink="./personnal"  style="color: black;text-decoration:none;font-size: 25px" >ระบบจัดเก็บข้อมูลครูและบุคลากร</a> &nbsp; &nbsp;&nbsp;
    <a class="navbar-brand" routerLink="./student"  style="color: black;text-decoration:none;font-size: 25px" >บันทึกประวัตินักเรียน</a> &nbsp; &nbsp;&nbsp;
    <a class="navbar-brand" routerLink="./table"  style="color: black;text-decoration:none;font-size: 25px" >ตารางเรียน</a> &nbsp; &nbsp;&nbsp;
    <a class="navbar-brand" routerLink="./enrolbook"  style="color: black;text-decoration:none;font-size: 25px" >จัดเก็บข้อมูลหนังสือ</a> &nbsp; &nbsp;&nbsp;
    <a class="navbar-brand" routerLink="./login"  style="color: red;text-decoration:none;font-size: 25px" >ออกจากระบบ</a> &nbsp; &nbsp;&nbsp;

  </div>

</div>







<router-outlet></router-outlet>
