<div style="text-align:center">
  <body bgcolor="000000">
  <body bgcolor ='BEBEBE'>
  &nbsp; &nbsp;&nbsp;&nbsp;
  <a class="navbar-brand" routerLink="/table" routerLinkActive="active" style="color: black;text-decoration:none;font-size: 50px" >บันทึกการประชุม</a>
  </body>
  <hr width="n" align="LEFT/RIGHT/CENTER" size="10" noshade color="BEBEBE">
  <div  style="background-color:#696969; margin-center: 1px; ">

    <div >

      <mat-form-field>
        <input matInput placeholder="หัวข้อ"[(ngModel)]="topic">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput placeholder="รายละเอียดการประชุม"[(ngModel)]="descrip">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="วันที่" [(ngModel)]="day">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


    </div>
    <div> <mat-form-field>
      <mat-select placeholder="ประเภท"[(ngModel)]="categorySelect">

        <mat-option *ngFor="let ca of category" [value]="ca.id">{{ca.catename}}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>

    <div>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="สถานะ"[(ngModel)]="statusmeetSelect">

          <mat-option *ngFor="let st of statusmeet" [value]="st.id">{{st.status}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="ผู้บันทึก"[(ngModel)]="personSelect">

          <mat-option *ngFor="let per of person" [value]="per.id">{{per.pname}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>



    <body bgcolor ='BEBEBE'>

    </body>
    <button mat-raised-button (click)="save()" color="primary">Save</button>


  </div>
