
<body>
<div class="flex-container">
  <form #mediaroom = "ngForm"  (ngSubmit) = "onClickSubmit(mediaroom.value)" >
    <h2>ห้องสื่อการเรียนรู้</h2>
    <mat-form-field>
      <h4>คำนำหน้า:</h4>
      <mat-select name ="prefix" [(ngModel)]="mediaroom.prefixs">
        <mat-option *ngFor="let prefix of prefixs" [value]="prefix.value">
          {{prefix.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>

    <mat-form-field>
      <h4>ชื่อผู้ขอใช้บริการ:</h4>
      <input matInput name ="applicantName" id="name" [(ngModel)]="mediaroom.patientName_id">
    </mat-form-field><br>

    <mat-form-field>
      <h4>ระดับชั้นที่เข้าใช้บริการ:</h4>
      <mat-select name ="level" [(ngModel)]="mediaroom.levels">
        <mat-option *ngFor="let level of levels" [value]="level.value">
          {{level.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>

    <mat-form-field>
      <h4>เลือกห้องสื่อการเรียนรู้:</h4>
      <mat-select name ="mediaRoom" [(ngModel)]="mediaroom.mediaRooms">
        <mat-option *ngFor="let mediaRoom of mediaRooms" [value]="mediaRoom.value">
          {{mediaRoom.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>

    <mat-form-field>
      <h4>กิจกรรม:</h4>
      <mat-select name ="activity" [(ngModel)]="mediaroom.activitys">
        <mat-option *ngFor="let activity of activitys" [value]="activity.value">
          {{activity.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>

    <mat-form-field>
      <h4>อุปกรณ์:</h4>
      <mat-select name ="equipment" [(ngModel)]="mediaroom.equipments">
        <mat-option *ngFor="let equipment of equipments" [value]="equipment.value">
          {{equipment.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>


    <h4 style="color:greenyellow;">{{text}}</h4>
    <pre style="text-align:left;">
        <button type="submit" mat-stroked-button color="primary">บันทึก</button>
      </pre>
  </form>
</div>
</body>
